* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: roboto;
    font-family: roboto;
    background-color: var(--bg-main);
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}

h1, p {
    margin: 0;
}
.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}
